services:
  app:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    container_name: ${PROJECT_NAME}
    environment:
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ./:/var/www/html:delegated
    networks:
      - web
      - mysql_network

networks:
  web:
    external: true
  mysql_network:
    driver: bridge